<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/ccs/styles.css">
</head>
<body>
    <h1>Login de Usuario</h1>
    <form action="main_page.html" method="post">
      <label for="nombre_usuario">Nombre de usuari@:</label>
      <input type="text" id="nombre_usuario" name="nombre_usuario" required><br><br>
  
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" required><br><br>
  
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>