:root {
    /* FUENTES*/
    --tipografia: 'Roboto', sans-serif;

    /* COLORES */
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;

    /* TAMAÑOS */
    --Cuerposdetexto: 12px;
    --Titulares: 24px;
    --Precios: 18px;
    --Descuentos: 16px;
    --Descripciones: 16px;
}
*{
    font-family: var(--tipografia);
    box-sizing: border-box;
    margin: 0;
}
a {
    color: var(--GrisOscuro);
    text-decoration: none;
}
ul {
    padding: 0;
    list-style: none;
}